/* #mainPage {
    display: grid;
    top: 60px;
    bottom: 60px;
    grid-template-columns:5% auto 5%;
    grid-template-areas:
                "border"
                "content"
                "border"; 
}

.border {
    grid-area: "border";
}

.content {
    grid-area: "content";

}
*/

