.menuButton {
    display : fixed;
    align-items: center;
    margin-left: 80px;
    margin-top: auto;
    z-index: 10;
}
.menuButton button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 10px; 
    border: none; /* Entferne die Rahmenlinie */
    border-radius: 5px; 
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    font-size: 16px; 
    transform: rotate(-90deg);
}

div.menuButton:hover {
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
}


/* body ALLGEMEIN */
body {
    background-color: darkgray;

}