/* FONTS / APIs
/*----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');

/* GENERAL / TRANSITIONS
/*----------------------------*/
/* Background */
.fadeIn {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 5s ease;
}

.loaded {
    opacity: 1;
}

/* on load / scroll */
.hidden {

    filter: blur(6px);
    transform: translateX(-100%);
    transition: opacity 5s, filter 2s, transform 2s;
}

.hide {
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: none;
    transition: opacity 3s, transform 2s filter 2s;
    transform: translateX(0);
}

/* HTML ROOT Element */
html {
    font-size: 16px;
}

/* HEADER LAYOUT
/*----------------------------*/
header {
    background-color: black;
    box-shadow:0 0 120px rgba(0, 0, 0, 1);
    position: fixed;
    height: 60px;
    top : 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.svg {
    position: absolute;
    width: 2000px; 
    min-width: 100%;
    left: 50%; 
    transform: translateX(-50%); 
    top: 59px;
    overflow: hidden;
    z-index: 9;
};

/* HEADER CONTENT
/*----------------------------*/
.iconBar {
    display: flex;
}

.iconBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height:60px;
}

/* Main Icon / Logo */
.iconBar ul li:first-child {
    margin-left: 7%;
}

/* define Size Logo */
.logoTop {
    width: 35px;
    height: 35px;
}

/* Homepage Title */
.iconBar ul li:nth-child(2) {
    font-size: 20pt;
    font-family: 'Slackside One';
    margin-right: auto;
    margin-left: 5px;
    color: rgba(240,173,91,1);
}

/* responsiveness Homepage Title */
@media only screen and (max-width: 768px) {
    .iconBar ul li:nth-child(2)  {
        font-size: 18pt;
    }
  }

@media only screen and (max-width: 412px) {
    .iconBar ul li:nth-child(2)  {
        font-size: 12pt;
    }
  }

/* last Element IconBar */
.iconBar ul li:last-child {
    margin-right: 7%; 
}

/* space between Elements IconBar */
.iconBar ul li {
    margin-left: 15px; 
}
@media only screen and (max-width: 768px) {
    .iconBar ul li {
        margin-left: 5px; 
    }
  }
@media only screen and (max-width: 412px) {
    .iconBar ul li {
        margin-left: 2px; 
    }
  }

/* Styling Hyperlink */
.iconBar ul li a {
    color: white;
    text-decoration: none;
}

/* Effect Hyperlink */
.iconBar ul li a:hover {
    color: rgba(240,173,91,1)
}

/* SCROLL DOWN INFO
/*----------------------------*/

.scrollDownArrow {
    display: flex;
    flex-direction: column;
    position:fixed;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-shadow: black;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(240,173,91,1);
    z-index: 9;
    animation: bounceAnimation 1s infinite alternate;
}

.scrollDownArrow img {
margin-top: 5px;
}

@keyframes bounceAnimation {
    0% {
        bottom: 90px;
    }
    100% {
        bottom: 93px;; /* Höhe des Sprungs */
    }
}

/* FOOTER LAYOUT */
/*----------------------------*/

footer {
    background-color: black;
    display: flex;
    box-shadow:0 0 120px rgba(0, 0, 0, 1);
    justify-content: center;
    align-content: center;
    position: fixed;
    color: white;
    height: 60px;
    font-size: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}

footer svg {
    position: absolute;
    width: 2000px;
    min-width: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 59px;
    overflow: hidden;
    z-index: 9;
    
};

/* MAIN MENU BUTTON LAYOUT
/*----------------------------*/
.menuContainer {
    position: fixed;
    top:0;
}
.buttonMenuContainer {
    display: flex;
    position : fixed;
    align-items: center;
    left: 5%;
    margin-left:-5pt;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

.menuButton {
    display: flex;
    align-items: center;
}

.centerButton {
    display: flex;
    align-items: center;
}

#menuImage {
    width: 30px;
    height: 30px;
}

/* Styling the Button of container buttonMenuContainer */
.menuButton button {
    background: none;
    color: white; 
    padding: 3px; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
    transform: rotate(-90deg);
    margin-left: -10px;
}

/* responsiveness of the button */
@media only screen and (max-width: 568px) {
    .buttonMenuContainer button {
        opacity : 0;
    }
}

/* style by hover */
nav.buttonMenuContainer:hover {
    cursor: pointer; 
    scale: 1.1;
    margin-left: -4pt;
}

/* Transition / Effects */
#buttonMenu {
    transition: opacity 0.4s ease;
}

/* NAVIGATION POP IN LAYOUT
/*----------------------------*/
.menuContainer {
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    align-items:center;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 113, 138, 1) 100%);
    opacity: 100%;
    color: white;
    left: -100%;
    transition: left 0.7s, opacity 1s ease; /* Fügen Sie eine Übergangseffekt für das Einfahren hinzu */
    z-index: 98;
    height: 100%;
}

.navListContainer ul {
    list-style-type: none;
  }

/* Title */
.navListContainer ul li:first-child {
    font-size: 2rem;
    color: rgba(240,173,91,1);
    font-family: 'Slackside One';
}

/* Font */
.navListContainer {
    line-height: 2;
    padding-left: 10%;
    font-family:Arial, Helvetica, sans-serif;
}

/* neutralize url */
.menuContainer .navListContainer li a {
    color: white;
    text-decoration: none;
}

/* CONTACT Button */
.navListContainer button {
    border-radius: 4%;
    border-style: none;
    padding: 10px;
    font-size: 12pt;
    background-color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    margin-top: 20px;
}

/* <a> Effect Menu */
.navListContainer ul li a:hover {
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    color: rgb(230, 162, 35);
}

/* CONTACT Button Effect */
.navListContainer button:hover {
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    background-color: rgb(230, 162, 35);
}

/* MAIN LAYOUT
/*----------------------------*/
/* transisitions */
main {
    flex-direction: column;
    z-index: 1;
    height: calc(100vh- 140px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    justify-content: center;
} 

/* CONTENT AREA */
/*----------------------------*/
.scrollHeight {
    display: flex;
    flex-direction: column;
    height: 400vh;
}

/* BACKGROUND LAYOUT
/*----------------------------*/
.mainBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.blueGradient {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100%; 
    overflow: hidden;
    background: linear-gradient(to left, rgba(230, 162, 35, 0.3) 0%, rgba(0, 113, 138, 1) 100%);
    z-index: 2;
}

.videoLoop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 0;
    filter: blur(4px);
}

.videoLoop video { 
    width: 100%;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

/* MAIN LOGO */
/*----------------------------*/
.mainLogoBackground {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: opacity 3s;
}

/* Font Style Main Logo */
.mainLogoBackground p {
    text-align: center;
    font-size: 30pt;
    color: white;
    font-family: 'Slackside One';
    letter-spacing: 15pt;
    line-height: 5pt;
    transform: scaleY(2);
    font-stretch: expanded;
}

.mainLogoBackground img {
    height: 250px;
    width: 250px;
  }

/*responsiveness Main Logo*/
/* settings for width <= 1024px */
@media only screen and (max-width: 1024px), (max-height: 1024px) {
    .mainLogoBackground img {
      height: 200px;
      width: 200px;
    }
    .mainLogoBackground p {
        text-align: center;
        font-size: 20pt;
        letter-spacing: 10pt;
    }
}
/* settings for width <= 768px */
@media only screen and (max-width: 768px), (max-height: 768px) {    
    .mainLogoBackground img {
        height: 150px;
        width: 150px;
    }
    .mainLogoBackground p {
        text-align: center;
        font-size: 14pt;
        letter-spacing: 5pt;
    }
}

/* Settings for width <= 412px */
@media only screen and (max-width: 412px), (max-height: 600px) {
    .mainLogoBackground img {
      height: 120px;
      width: 120px;
    }
    .mainLogoBackground p {
        font-size: 10pt;
        letter-spacing: 5pt;
    }
  }

/* NEWS
/*----------------------------*/
.news {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 50%;
    max-width: 800px;
    min-width: 300px;
    height:80%;
    z-index: 2;
    position: fixed;
    border-radius: 20px;
    overflow: hidden;
}

.newsList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 5%;
    z-index: 2;
}

.newsList li{
    border-radius: 10px;
    margin-top: 20px;
    flex-direction: column;
    z-index: 2;
}

.newsEntry {
    padding: 4px;
    background-color: red;
    max-width: auto;
}

/* ABOUT
/*----------------------------*/
.about {
    display: relative;
    background-color: rgb(40, 18, 18);
    width: 100%;
    height : 100%;
    margin-top:60px;
    margin-bottom: 60px;
    width: 100%;
    height: calc(100vh - 120px);
};

 .affectedByBlurToggle {
    filter: none;
}

/* BODY / GENERAL */
/*----------------------------*/
body {
    background-color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    min-width: 320px;
}

body::-webkit-scrollbar {
   /* width: 0;
    height: 0; */
}