/* FONTS / APIs
/*----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Slackside+One&display=swap');

/* BODY / GENERAL */
/*----------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.tourContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

body {
    background-color: black;
    overflow: overlay;
}
.fadeIn {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 5s ease;
}

.loaded {
    opacity: 1;
}

/* on load / scroll */
.hidden {
    filter: blur(6px);
    opacity: 0;
    transition: opacity 2s ease;
}

.show {
    opacity: 1;
    filter: none;
    transition: opacity 2s ease;
}

/* POP UP */
/*----------------------------*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.popupContent {
    position: relative;
    text-align: center;
}

.closeButton {
    position: fixed;
    left: 50%;
    top: 12vh;
    cursor: pointer;
    color: rgba(240,173,91,1);
    font-size: 24px;
    z-index: 99;
}

/* MAIN */
/*----------------------------*/
main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: calc(100vh - 7vh);
    width: 100vw;
    margin-top: 5vh;
}

section {
    height: calc(100vh - 7vh);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    scroll-snap-align: start;
}

.sectionTitle {
    display: flex;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    font-size: 6vh;
    left: 20px;
    top: calc(8vh - 50px);
    font-family: 'Slackside One';
    z-index: 2;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1000px) {
    .sectionTitle {
        left: 20px;
        top: calc(8vh - 50px);
    }
}

.homePlaceholder {
    margin-top: 5vh;
    opacity: 0;
}

/* MAIN */
/*----------------------------*/
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentNews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 60vh;
    border-bottom: 2pt solid rgba(0, 0, 0, 0.2);
    border-top: 2pt solid rgba(240,173,91,0.2);
}

.newsList {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    list-style-type: none;
    height: auto; 
    border-radius: 5px;
    width: 70vw;
    max-width: 700px;
    margin-left: 50%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    transform: translateX(-50%);
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.newsDate {
    font-weight: 300;
    font-style: italic;
    font-weight: bold;
    color: rgba(240,173,91,1);
    margin-bottom: 4px;
    font-size: 18pt;
}

.newsEntry {
    scroll-snap-align: start;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0,0, 0);
    border-radius: 5px;
    min-width:100%;
    border-top: 2pt solid rgba(240,173,91,0.2);
    border-left: 2pt solid rgba(240,173,91,0.2);
    border-bottom: 2pt solid rgba(0, 0, 0, 0.2);
    border-right: 2pt solid rgba(0, 0, 0, 0.2);
}

.newsText {
    color: white;
    font-size: 14pt;
}

.newsEntry:first-child {
    margin-top: 0;
}

.newsEntry:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {   
    .currentNews {
        height: calc(100vh - 5vh);
        margin-top: 0;
    }

    .newsList {
        height: auto;
        max-height: 80%;
        margin-top: 12vh;
        margin-bottom: 12vh;
    }

    .newsEntry {
        font-size: 12pt;
    }
}

/* ABOUT */
/*----------------------------*/
.about {
    display: flex;
    flex-direction: column;
}

.aboutContainer {
    display: flex;
    position: relative;
    height: calc(100vh - 7vh);
    width: 100%;
}

.aboutText {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    height: 20%;
    top: 50%;
    width: 100vw;
    transform: translateY(-50%);
    background: linear-gradient(to left, rgba(154, 108, 23, 0.2) 0%, rgba(0, 77, 94, 0.8) 100%);
    border-top: 2pt solid rgba(240,173,91,0.3);
    border-bottom: 2pt solid rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20pt;
    padding: 2vh 5vw;
}

.aboutText p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.aboutText p:first-child {
    padding: 10px;
}

.aboutText p:last-child {
    padding: 10px;
    font-size: 8pt;
}

.container {
    position: absolute;
    height: auto;
    min-height: 93vh;
    max-height: 93vh;
    width: 100vw;
    min-width: 100%;
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 100%, 100% 100%, 100% 0%);
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}

.aboutImage {
    position: absolute;
    height: auto;
    min-height: 93vh;
    max-height: 93vh;
    width: 100vw;
    min-width: 100%;
    object-fit: cover;
    opacity: 0.9;
}

@media only screen and (max-width: 4000px) {   
    .aboutText {
        font-size: 30pt;
    }
}

@media only screen and (max-width: 2000px) {   
    .aboutText {
        font-size: 24pt;
    }
}

@media only screen and (max-width: 1400px) {   
    .aboutText {
        font-size: 16pt;
    }
}

@media only screen and (max-width: 1000px) {   
    .aboutText {
        font-size: 14pt;
    }
}

@media only screen and (max-width: 700px) {   
    .aboutText {
        font-size: 10pt;
    }
}

/* ON TOUR */
/*----------------------------*/
.onTour {
    display: flex;
    flex-direction: column;
}

.tourSlideBar {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 5vh;
    top: 4vh;
    right: auto;
    z-index:2;
}

.backward {
    position: fixed;
    height: auto;
    top: 36vh;
    left: 20px;
    z-index: 10;
    cursor: pointer;
}
.forward {
    position: fixed;
    height: auto;
    top: 36vh;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
}

.backward:hover {
    transform: scale(1.2);
}

.forward:hover {
    transform: scale(1.2);
}

.tourContainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    height: calc(100vh - 7vh);
    width: 100%;
}

.tourSlide {
    width: 100vw;
    scroll-snap-align: start;
}

.tourMainPicTop {
    height: 40vh;
    filter: saturate(150%);
    background: linear-gradient(to left, rgba(230, 162, 35, 0.2) 0%, rgba(0, 113, 138, 0.8) 100%);
    -webkit-mask-image: linear-gradient(black 70%, transparent);
    mask-image: linear-gradient(black 70%, transparent);
}

.tourMainPicTop img {
    height: auto;
    min-height: 40vh;
    max-height: 40vh;
    width: 100vw;
    min-width: 100%;
    object-fit: cover;
    padding: 0;
    opacity: 0.9;
    filter: grayscale(10%);
}

.tourBottom {
    display: flex;
    height: calc(40vh - 7vh);
} 

.tourInfo {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2em;
    width: 50vw;
    color:white;
    padding: 20px 5vw;
    top: 60vh;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    overflow: auto;
    -webkit-mask-image: linear-gradient(black 70%, transparent);
    mask-image: linear-gradient(black 70%, transparent);
}

.tourText {
    margin-bottom: 5vh;
}
.tourTitle {
    font-family: 'Slackside One';
    font-weight: 300;
    font-style: normal;
    font-size: 26pt;
    line-height: 20pt;
}

.tourPictures {
    overflow: auto;
    white-space: nowrap;
    height: 20vh;
    overflow-y: hidden;
    -webkit-mask-image: linear-gradient(to left, transparent, black 5%, black 95%, transparent );
    mask-image: linear-gradient(to left, transparent, black 5%, black 95%, transparent );
    border-top: 2pt solid rgba(240,173,91,0.3);
    border-bottom: 2pt solid rgba(0, 0, 0, 0.3);
}

.tourPicSingle  {
    max-height: 17vh;
    min-height: 100%;
    height: auto;
    width: 25%;
    object-fit: cover;
    min-width: 400px;
    filter: grayscale(40%);
    opacity: 0.7;
    border-radius: 5px;
    margin: 0 5px 0 0;
}

.tourPicSingle:hover {
    cursor: pointer;
} 

.tourPicSingle:hover {
    filter: grayscale(0%);
    opacity: 1;
    border-top: 2pt solid rgba(240,173,91,0.5);
    border-left: 2pt solid rgba(240,173,91,0.5);
    border-bottom: 2pt solid rgba(255, 255, 255, 0.3);
    border-right: 2pt solid rgba(255, 255, 255, 0.3);
}

.tourVideo {
    width: 50vw;
    color:white;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    top: 60vh;
    -webkit-mask-image: linear-gradient(black 70%, transparent);
    mask-image: linear-gradient(black 70%, transparent);
}

.tourVideo iframe {
    width: 100%;
    height: 98%;
    filter: grayscale(30%);
    opacity: 0.8;
}

.tourVideo iframe:hover {
    opacity: 0.9;
    filter: grayscale(20%);
}

@media only screen and (max-width: 1000px) {   
    .tourTitle {
        font-family: 'Slackside One';
        font-weight: 300;
        font-style: normal;
        font-size: 20pt;
        line-height: 18pt;
    }
    .tourText {
        font-family: "Lato", sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 0.8em;
    }
    .tourPicSingle  {
        min-width: 260px;
    }
}

@media only screen and (max-width: 500px) {   
    .tourTitle {
        font-family: 'Slackside One';
        font-weight: 300;
        font-style: normal;
        font-size: 14pt;
        line-height: 12pt;
    }
    .tourText {
        font-family: "Lato", sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 0.8em;
    }
}

/* BIKE */
/*----------------------------*/
.bike {
    background-color: rgba(0, 0, 0, 0);
}

.bikePic {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 80vw;
    max-width: 80vw;
    height: 80%;
    max-height: 80%;
    object-fit: contain;
}

/* ARCHITECTURE */
/*----------------------------*/
.architecture {
    background-color: rgba(0, 0, 0, 0);
}

/* VEGAN */
/*----------------------------*/
.vegan {
    margin-bottom: 7vh;
}
     
/* GENERAL / TRANSITIONS
/*----------------------------*/
/* Background */

/* HTML ROOT Element */
html {
    font-size: 16px;
}

/* HEADER LAYOUT
/*----------------------------*/
header {
    background-color: black;
    box-shadow:0 0 14vh rgb(13, 91, 140);
    position: fixed;
    height: 5vh;
    top : 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.svg {
    position: absolute;
    width: 2000px; 
    min-width: 100%;
    left: 50%; 
    transform: translateX(-50%); 
    top: calc(5vh - 1px);
    overflow: hidden;
    z-index: 9;
};

/* HEADER CONTENT
/*----------------------------*/
.iconBar {
    display: flex;
}

.iconBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height:7vh;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    transform: translateY(-2px);
}

/* Main Icon / Logo */
.iconBar ul li:first-child {
    margin-left: 1vw;
    transform: scale(0.9);
    margin-top: 1px;
}

.iconBar ul li:first-child:hover {
    margin-left: 1vw;
    transform: scale(1);
    margin-top: 0px;
}

/* define Size Logo */
.logoTop {
    width: 35px;
    height: 35px;
}

/* Homepage Title */
.iconBar ul li:nth-child(2) {
    font-size: 20pt;
    margin-right: auto;
    margin-left: 5px;
    color: rgba(240,173,91,1);
}

/* responsiveness Homepage Title */
@media only screen and (max-width: 768px) {
    .iconBar ul li:nth-child(2)  {
        font-size: 18pt;
    }
  }

@media only screen and (max-width: 412px) {
    .iconBar ul li:nth-child(2)  {
        font-size: 12pt;
    }
  }

/* last Element IconBar */
.iconBar ul li:last-child {
    margin-right: 1vw; 
}

/* space between Elements IconBar */
.iconBar ul li {
    margin-left: 15px; 
}
@media only screen and (max-width: 768px) {
    .iconBar ul li {
        margin-left: 5px; 
    }
  }
@media only screen and (max-width: 412px) {
    .iconBar ul li {
        margin-left: 2px; 
    }
  }

/* Styling Hyperlink */
.iconBar ul li a {
    color: white;
    text-decoration: none;
}

/* SCROLL DOWN INFO
/*----------------------------*/
.scrollDownArrow {
    display: flex;
    flex-direction: column;
    position:fixed;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-shadow: black;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(240,173,91,1);
    z-index: 9;
    animation: bounceAnimation 1s infinite alternate;
    transition: opacity 1s ease;
}

.scrollDownArrow img {
    margin-top: 5px;
    opacity: 0.8;
}

@keyframes bounceAnimation {
    0% {
        bottom: calc(2vh + 30px);;
    }
    100% {
        bottom: calc(2vh + 35px); /* Höhe des Sprungs */
    }
}

/* FOOTER LAYOUT */
/*----------------------------*/
footer {
    position: absolute;
    background-color: black;
    display: flex;
    box-shadow: 0 0 14vh rgb(13, 91, 140);
    justify-content: center;
    align-content: center;
    position: fixed;
    color: white;
    height: 2vh;
    font-size: 12px;
    left: 0;
    right: 0;
    bottom: 0vh;
    z-index: 2;
}

footer p {
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 6pt;
    padding: 2px;
    right: 1vw;
    color: grey;
}

footer svg {
    position: absolute;
    width: 2000px;
    min-width: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    bottom: calc(2vh - 1px);
    overflow: hidden;
    z-index: 7;
};

/* MAIN MENU BUTTON LAYOUT
/*----------------------------*/
.menuContainer {
    position: fixed;
    top:0;
}
.buttonMenuContainer {
    display: flex;
    position : fixed;
    align-items: center;
    left: calc(45px + 1vw);;
    margin-left:-5pt;
    top: 3vh;
    transform: translateY(-50%);
    z-index: 99;
}

.menuButton {
    display: flex;
    align-items: center;
}

.centerButton {
    display: flex;
    align-items: center;
}

#menuImage {
    width: 30px;
    height: 30px;
}

/* Styling the Button of container buttonMenuContainer */
.menuButton button {
    background: none;
    color: white; 
    padding: 3px; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
    transform: rotate(-90deg);
    margin-left: -10px;
    opacity: 0;
}

/* responsiveness of the button */
@media only screen and (max-width: 568px) {
    #buttonMenu {
        opacity : 0;
    }
}

/* style by hover */
nav.buttonMenuContainer:hover {
    cursor: pointer; 
    scale: 1.1;
    margin-left: -4pt;
}

/* Transition / Effects */
#buttonMenu {
    transition: opacity 0.4s ease;
}

/* NAVIGATION POP IN LAYOUT
/*----------------------------*/
.menuContainer {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    align-items:center;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 113, 138, 1) 100%);
    color: white;
    left: -100%;
    transition: left 0.7s, opacity 1s ease;
    z-index: 98;
    height: 100vh;
}

.navListContainer ul {
    list-style-type: none;
}

/* Title */
.navListContainer ul li:first-child {
    font-size: 2rem;
    color: rgba(240,173,91,1);
    font-family: 'Slackside One';
}

/* Font */
.navListContainer {
    line-height: 2;
    padding-left: 10%;
    font-family:Arial, Helvetica, sans-serif;
}

/* neutralize url */
.menuContainer .navListContainer li a {
    color: white;
    text-decoration: none;
}

/* CONTACT Button */
.navListContainer button {
    border-radius: 4%;
    border-style: none;
    padding: 10px;
    font-size: 12pt;
    background-color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    margin-top: 20px;
}

/* <a> Effect Menu */
.navListContainer ul li a:hover {
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    color: rgb(230, 162, 35);
}

/* CONTACT Button Effect */
.navListContainer button:hover {
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    background-color: rgb(230, 162, 35);
}

/* BACKGROUND LAYOUT
/*----------------------------*/
.mainBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.blueGradient {
    display: flex;
    height: 100vh;
    width: 100%; 
    overflow: hidden;
    background: linear-gradient(to left, rgba(230, 162, 35, 0.3) 0%, rgba(0, 113, 138, 1) 100%);
    z-index: 2;
}

.videoLoop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
    filter: blur(4px);
    transition: opacity 2s ease;
}

.videoLoop video { 
    width: 100%;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

/* MAIN LOGO */
/*----------------------------*/
.mainLogoBackground {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: opacity 2s;
}

/* Font Style Main Logo */
.mainLogoBackground p {
    text-align: center;
    font-size: 30pt;
    letter-spacing: 15pt;
    color: white;
    font-family: 'Slackside One';
    line-height: 5pt;
    margin-left: 5%;
    transform: scaleY(2);
    font-stretch: expanded;
    padding-top: 20px;
}

.mainLogoBackground img {
    height: 250px;
    width: 250px;
  }

/*responsiveness Main Logo*/
/* settings for width <= 1024px */
@media only screen and (max-width: 1024px), (max-height: 1024px) {
    .mainLogoBackground img {
      height: 200px;
      width: 200px;
    }
    .mainLogoBackground p {
        font-size: 20pt;
        letter-spacing: 10pt;
        
    }
}
/* settings for width <= 768px */
@media only screen and (max-width: 768px), (max-height: 768px) {    
    .mainLogoBackground img {
        height: 150px;
        width: 150px;
    }
    .mainLogoBackground p {
        font-size: 14pt;
        letter-spacing: 5pt;
    }
}

/* Settings for width <= 412px */
@media only screen and (max-width: 412px), (max-height: 600px) {
    .mainLogoBackground img {
      height: 14vh;
      width: 14vh;
    }
    .mainLogoBackground p {
        font-size: 10pt;
        letter-spacing: 5pt;
    }
}



