/* FONTS / APIs
/*----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');

/* BODY / GENERAL */
/*----------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.tourMainPicture::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

body {
    background-color: black;
    overflow: overlay;
}
.fadeIn {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 5s ease;
}

.loaded {
    opacity: 1;
}

/* on load / scroll */
.hidden {
    filter: blur(6px);
    opacity: 0;
    transition: opacity 2s ease;
}

.show {
    opacity: 1;
    filter: none;
    transition: opacity 2s ease;
}

/* MAIN */
/*----------------------------*/
main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: calc(100vh - 7vh);
    margin-top: 5vh;
}

section {
    height: calc(100vh - 7vh);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    scroll-snap-align: start;
}

.sectionTitle {
    display: flex;
    color: orange;
    font-size: 30pt;
    margin-bottom: 10px;
    font-family: 'Slackside One';
}

.homePlaceholder {
    margin-top: 5vh;
    opacity: 0;
}

/* MAIN */
/*----------------------------*/
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentNews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-content: center;
    width: 70vw;
    height: 75vh;
    max-width: 700px;
}

.currentNews ul {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    list-style-type: none;
    height: auto; 
    border-radius: 5px;
}

.currentNews ul li p {
    font-weight: bold;
    color: orange;
    margin-bottom: 4px;
    font-size: 18pt;
}

.currentNews ul li{
    color: white;
    scroll-snap-align: start;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0,0, 0);
    border-radius: 5px;
    min-width:100%;
    border-top: 2pt solid rgba(240,173,91,0.2);
    border-left: 2pt solid rgba(240,173,91,0.2);
    border-bottom: 2pt solid rgba(0, 0, 0, 0.2);
    border-right: 2pt solid rgba(0, 0, 0, 0.2);
    font-size: 14pt;
}
.currentNews ul li:first-child {
    margin-top: 0;
}
.currentNews ul li:last-child {
    margin-bottom: 0;
}

/* ABOUT */
/*----------------------------*/
.about {
    display: flex;
    flex-direction: column;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
}

.contentAbout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.contentAbout p {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 15%;
    border-radius: 5px;
    font-size: 20pt;
    border-bottom: 2pt solid rgba(0, 0, 0, 0.2);
    border-left: 2pt solid rgba(0, 0, 0, 0.2);
}
.contentAbout img {
    width: 100%;
    max-width: 100vw;
    height: 93vh;
    object-fit: cover;
}

@media only screen and (max-width: 1000px) {   
    .about {
        width: 100%;
        display:flex;
    }

    .contentAbout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 10px;
        overflow: hidden;
        position:static;
        height: 93vh;
    }
    .contentAbout p {
        position: absolute; 
        bottom: 0; 
        left: 0;
        width: 100vw; 
        height: 50%;
    }
    .contentAbout img {
        position: absolute; 
        top: 0; 
        left: 0;
        width: 100vw; 
        height: 50%;
    }
}
/* ON TOUR */
/*----------------------------*/
.onTour {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    z-index: 1;
}

.tourSlideBar {
    color: rgb(0, 0, 0);
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 5vh;
    top: 7vh;
    left: 25%;
    transform: translateX(-50%);
    right: auto;
    z-index:2;
    border-left: 1pt solid rgba(0, 113, 138, 0.2);
    border-bottom: 1pt solid rgba(0, 113, 138, 0.2);
    background: linear-gradient(to right,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 113, 138, 0.8) 30%,
    rgba(0, 113, 138, 0.8) 70%,
    rgba(0, 0, 0, 0.5) 100% );
}

.tourSlideBar ul {
    display: flex;
    list-style: none;
}

.tourSlideBar img {
    height: auto;
    margin: 0 5px;
}

.tourSlideBar p {
    font-size: 40pt;
    font-family: 'Slackside One';
    margin: 0 auto;
    transform: translateY(-1vh);
    color: rgba(230, 162, 35, 1);
    box-shadow: black;
}

.tourName {
    padding-left: 15pt;
    padding-right: 15pt;
}

.tourText {
    display: flex;
    flex-grow: 1; 
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50%;
    left:0;
    top: 0;
}

.tourMainPicture {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    height: 50%;
    right: 0;
    top: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

}
.tourMainPicture img {
    right:0;
    min-width: 100vw;
    height: auto;
    object-fit: cover;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}


.tourDates {
    display: flex;
    flex-grow: 1; 
    position: absolute;
    width: 50vw;
    height: 50%;
    right: 0;
    bottom: 0;
}

.tourDates iframe {
    width: 50vw;
    max-height: 44vh;
    height: auto;
    border-radius: 20px;
    margin-right: 2vw;
    margin-left: 2vw;
}

.tourPictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-flow: dense;
    position: absolute;
    width: 46vw;
    top: 46vh;
    left:0;
    bottom: 3vh;
    overflow: scroll;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: rgba(0, 0, 0, 0.2)
}

.imgPattern {
    background-color: aquamarine;
    opacity: 0.3;
    border-radius: 5px;
    height: 100%;
}

.imgPattern:hover {
    opacity: 1;
}



/* BIKE */
/*----------------------------*/
.bike {
    background-color: rgba(0, 0, 0, 0);
}

/* ARCHITECTURE */
/*----------------------------*/
.architecture {
    background-color: rgba(0, 0, 0, 0);
}

/* VEGAN */
/*----------------------------*/
.vegan {
    margin-bottom: 7vh;
}
     
/* GENERAL / TRANSITIONS
/*----------------------------*/
/* Background */

/* HTML ROOT Element */
html {
    font-size: 16px;
}

/* HEADER LAYOUT
/*----------------------------*/
header {
    background-color: black;
    box-shadow:0 0 14vh rgb(13, 91, 140);
    position: fixed;
    height: 5vh;
    top : 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.svg {
    position: absolute;
    width: 2000px; 
    min-width: 100%;
    left: 50%; 
    transform: translateX(-50%); 
    top: calc(5vh - 1px);
    overflow: hidden;
    z-index: 9;
};

/* HEADER CONTENT
/*----------------------------*/
.iconBar {
    display: flex;
}

.iconBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height:7vh;
}

/* Main Icon / Logo */
.iconBar ul li:first-child {
    margin-left: 7%;
}

/* define Size Logo */
.logoTop {
    width: 35px;
    height: 35px;
}

/* Homepage Title */
.iconBar ul li:nth-child(2) {
    font-size: 20pt;
    margin-right: auto;
    margin-left: 5px;
    color: rgba(240,173,91,1);
}

/* responsiveness Homepage Title */
@media only screen and (max-width: 768px) {
    .iconBar ul li:nth-child(2)  {
        font-size: 18pt;
    }
  }

@media only screen and (max-width: 412px) {
    .iconBar ul li:nth-child(2)  {
        font-size: 12pt;
    }
  }

/* last Element IconBar */
.iconBar ul li:last-child {
    margin-right: 7%; 
}

/* space between Elements IconBar */
.iconBar ul li {
    margin-left: 15px; 
}
@media only screen and (max-width: 768px) {
    .iconBar ul li {
        margin-left: 5px; 
    }
  }
@media only screen and (max-width: 412px) {
    .iconBar ul li {
        margin-left: 2px; 
    }
  }

/* Styling Hyperlink */
.iconBar ul li a {
    color: white;
    text-decoration: none;
}

/* SCROLL DOWN INFO
/*----------------------------*/
.scrollDownArrow {
    display: flex;
    flex-direction: column;
    position:fixed;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-shadow: black;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(240,173,91,1);
    z-index: 9;
    animation: bounceAnimation 1s infinite alternate;
    transition: opacity 1s ease;
}

.scrollDownArrow img {
    margin-top: 5px;
    opacity: 0.8;
}

@keyframes bounceAnimation {
    0% {
        bottom: calc(2vh + 30px);;
    }
    100% {
        bottom: calc(2vh + 35px); /* Höhe des Sprungs */
    }
}

/* FOOTER LAYOUT */
/*----------------------------*/

footer {
    background-color: black;
    display: flex;
    box-shadow: 0 0 14vh rgb(13, 91, 140);
    justify-content: center;
    align-content: center;
    position: fixed;
    color: white;
    height: 2vh;
    font-size: 12px;
    left: 0;
    right: 0;
    bottom: 0vh;
    z-index: 9;
}

footer svg {
    position: absolute;
    width: 2000px;
    min-width: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    bottom: calc(2vh - 1px);
    overflow: hidden;
    z-index: 9;
};

/* MAIN MENU BUTTON LAYOUT
/*----------------------------*/
.menuContainer {
    position: fixed;
    top:0;
}
.buttonMenuContainer {
    display: flex;
    position : fixed;
    align-items: center;
    left: 4vw;
    margin-left:-5pt;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

.menuButton {
    display: flex;
    align-items: center;
}

.centerButton {
    display: flex;
    align-items: center;
}

#menuImage {
    width: 30px;
    height: 30px;
}

/* Styling the Button of container buttonMenuContainer */
.menuButton button {
    background: none;
    color: white; 
    padding: 3px; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
    transform: rotate(-90deg);
    margin-left: -10px;
}

/* responsiveness of the button */
@media only screen and (max-width: 568px) {
    #buttonMenu {
        opacity : 0;
    }
}

/* style by hover */
nav.buttonMenuContainer:hover {
    cursor: pointer; 
    scale: 1.1;
    margin-left: -4pt;
}

/* Transition / Effects */
#buttonMenu {
    transition: opacity 0.4s ease;
}

/* NAVIGATION POP IN LAYOUT
/*----------------------------*/
.menuContainer {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    align-items:center;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 113, 138, 1) 100%);
    color: white;
    left: -100%;
    transition: left 0.7s, opacity 1s ease;
    z-index: 98;
    height: 100vh;
}

.navListContainer ul {
    list-style-type: none;
  }

/* Title */
.navListContainer ul li:first-child {
    font-size: 2rem;
    color: rgba(240,173,91,1);
    font-family: 'Slackside One';
}

/* Font */
.navListContainer {
    line-height: 2;
    padding-left: 10%;
    font-family:Arial, Helvetica, sans-serif;
}

/* neutralize url */
.menuContainer .navListContainer li a {
    color: white;
    text-decoration: none;
}

/* CONTACT Button */
.navListContainer button {
    border-radius: 4%;
    border-style: none;
    padding: 10px;
    font-size: 12pt;
    background-color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    margin-top: 20px;
}

/* <a> Effect Menu */
.navListContainer ul li a:hover {
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    color: rgb(230, 162, 35);
}

/* CONTACT Button Effect */
.navListContainer button:hover {
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    background-color: rgb(230, 162, 35);
}

/* BACKGROUND LAYOUT
/*----------------------------*/
.mainBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.blueGradient {
    display: flex;
    height: 100vh;
    width: 100%; 
    overflow: hidden;
    background: linear-gradient(to left, rgba(230, 162, 35, 0.3) 0%, rgba(0, 113, 138, 1) 100%);
    z-index: 2;
}

.videoLoop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
    filter: blur(4px);
    transition: opacity 2s ease;
}

.videoLoop video { 
    width: 100%;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

/* MAIN LOGO */
/*----------------------------*/
.mainLogoBackground {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: opacity 2s;
}

/* Font Style Main Logo */
.mainLogoBackground p {
    text-align: center;
    font-size: 30pt;
    letter-spacing: 15pt;
    color: white;
    font-family: 'Slackside One';
    line-height: 5pt;
    margin-left: 5%;
    transform: scaleY(2);
    font-stretch: expanded;
    padding-top: 20px;
}

.mainLogoBackground img {
    height: 250px;
    width: 250px;
  }

/*responsiveness Main Logo*/
/* settings for width <= 1024px */
@media only screen and (max-width: 1024px), (max-height: 1024px) {
    .mainLogoBackground img {
      height: 200px;
      width: 200px;
    }
    .mainLogoBackground p {
        font-size: 20pt;
        letter-spacing: 10pt;
        
    }
}
/* settings for width <= 768px */
@media only screen and (max-width: 768px), (max-height: 768px) {    
    .mainLogoBackground img {
        height: 150px;
        width: 150px;
    }
    .mainLogoBackground p {
        font-size: 14pt;
        letter-spacing: 5pt;
    }
}

/* Settings for width <= 412px */
@media only screen and (max-width: 412px), (max-height: 600px) {
    .mainLogoBackground img {
      height: 14vh;
      width: 14vh;
    }
    .mainLogoBackground p {
        font-size: 10pt;
        letter-spacing: 5pt;
    }
  }

 .affectedByBlurToggle {
    filter: none;
}

