/*Fonts API */

@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');


.hiddenToRight {
    opacity: 0;
    transition: opacity 3s, transform 2s;
    transform: translateX(-100%);
}

.hide {
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    transition: opacity 3s, transform 2s;
    transform: translateX(0);
}


/* HTML ROOT Element */
html {
    font-size: 16px;
}

/* FOOTER */
/*----------------------------*/

footer {
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

/* MAIN MENU / NAVIDATION (left side Button) */
/*----------------------------*/

/* Styling Main Menu Button */
.buttonMenuContainer {
    display: flex;
    position : fixed;
    align-items: center;
    left: 5%;
    margin-left:-5pt;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.menuButton {
    display: flex;
    align-items: center;
}

.centerButton {
    display: flex;
    align-items: center;
}

#menuImage {
    width: 30px;
    height: 30px;
}

/* Styling the Button of container buttonMenuContainer */
.menuButton button {
    background: none;
    color: white; 
    padding: 3px; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
    transform: rotate(-90deg);
    margin-left: -10px;
}

/* responsiveness of the button */
@media only screen and (max-width: 568px) {
    .buttonMenuContainer button {
        opacity : 0;
    }
}

/* style by hover */
nav.buttonMenuContainer:hover {
    cursor: pointer; 
    scale: 1.1;
    margin-left: -4pt;

}

/* Transition / Effects */
#buttonMenu {
    transition: opacity 0.4s ease;
}

/* Navigation Bar / Menu Site */
.menuContainer {
    display: flex;
    width: 100%;
    height: 100dvh; /*dvh neuer Befehl, der auch für mobile devices emfpohlen wird*/
    align-items:center;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 113, 138, 1) 100%);
    opacity: 100%;
    color: white;
    position: fixed;
    z-index: 3; /* Layer-Steuerung, höher ist über niedrigerem wert */
    top : 0%;
    left: -100%;
    opacity: 0;
    transition: left 0.7s, opacity 1s ease; /* Fügen Sie eine Übergangseffekt für das Einfahren hinzu */
    bottom: 0;
    z-index: 4;
}

.navListContainer ul {
    list-style-type: none;
  }

/* Title Menu */
.navListContainer ul li:first-child {
    font-size: 2rem;
    color: rgba(240,173,91,1)
}

.navListContainer {
    line-height: 2;
    padding-left: 10%;
    font-family:Arial, Helvetica, sans-serif;
}

.menuContainer .navListContainer li a {
    color: white;
    text-decoration: none;
}

/* Styling Button CONTACT */
.navListContainer button {
    border-radius: 4%;
    border-style: none;
    padding: 10px;
    font-size: 12pt;
    background-color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    margin-top: 20px;
}

/* <a> Effect Menu */
.navListContainer ul li a:hover {
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    color: rgb(230, 162, 35);
}

/* button CONTACT Effect Menue */
.navListContainer button:hover {
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    background-color: rgb(230, 162, 35);
}

/* Scroll Down Icon */
/*----------------------------*/

.scrollDownArrow {
    display: flex;
    position:fixed;
    bottom: 70px;
    left: 50%;
    color: rgba(240,173,91,1);
    z-index: 6;
}

/* HEADER */
/*----------------------------*/
header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    height: 60px;
    top : 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.iconBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height:60px;
}

/* Main Icon / Logo */
.iconBar ul li:first-child {
    margin-left: 7%;
}

/* define Size Logo */
.logoTop {
    width: 35px;
    height: 35px;
}

/* Homepage Title */
.iconBar ul li:nth-child(2) {
    font-size: 20pt;
    margin-right: auto;
    margin-left: 5px;
    color: rgba(240,173,91,1);
}

/* responsiveness Homepage Title */
@media only screen and (max-width: 768px) {
    .iconBar ul li:nth-child(2)  {
        font-size: 18pt;
    }
  }

@media only screen and (max-width: 412px) {
    .iconBar ul li:nth-child(2)  {
        font-size: 12pt;
    }
  }

/* last Element IconBar */
.iconBar ul li:last-child {
    margin-right: 7%; 
}

/* space between Elements IconBar */
.iconBar ul li {
    margin-left: 15px; 
}
@media only screen and (max-width: 768px) {
    .iconBar ul li {
        margin-left: 5px; 
    }
  }
@media only screen and (max-width: 412px) {
    .iconBar ul li {
        margin-left: 2px; 
    }
  }

/* Styling Hyperlink */
.iconBar ul li a {
    color: white;
    text-decoration: none;
}

/* Effect Hyperlink */
.iconBar ul li a:hover {
    color: rgba(240,173,91,1)
}

/* MAIN CONTENT */
/*----------------------------*/

main {
    display: flex;
    flex-direction: column;
    z-index: 1;
} 


.centerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    display: flex;
    max-width: 2000px;
    margin: 60px auto;

}



.welcomeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;

} 


.news {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    background-color: white;
    width: 50vw;
    z-index: 2;
    height: 50vh;
}

.newsList {

    margin-left: 0;
    flex-direction: column;
    list-style: none;

    z-index: 2;
}

.newsList li{

    margin-left: 0;
    flex-direction: column;

    z-index: 2;
}

.newsEntry {
    background-color: red;
}

.leftContentHome {
    display:flex;
    width: 100%;
    height: calc(100vh - 120px);
    background: linear-gradient(to right, rgba(25, 25, 25, 1) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 100%;
    z-index: -1;
    overflow: visible;

}

.rightContentHome {

    display: flex;
    height: calc(100vh - 120px);
    opacity: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden; /* overflow background Image */


}

.av {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; /* überlaufender Inhalt wird ausgeblendet */
}

/* Background Image */
#mainImageRandom {
    width: auto; 
    height: 100%;
    position: relative;
    left: 0;
    transition: opacity 2s ease;
    object-fit: cover;
    
}



/* Main Logo Center */
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -60%);
    z-index: 2;
    transition: opacity 3s;
}

/* Font Style Main Logo */
.welcome p {
    font-size: 24pt;
    letter-spacing: 15pt;
    transform: scaleY(1.6);
    font-stretch: expanded;
}

.welcome img {
    height: 250px;
    width: 250px;
  }

/*responsiveness Main Logo*/
/* settings for width <= 1024px */
@media only screen and (max-width: 1024px), (max-height: 1024px) {
    .welcome img {
      height: 200px;
      width: 200px;
    }
    .welcome p {
        font-size: 20pt;
        letter-spacing: 10pt;
    }
}
/* settings for width <= 768px */
@media only screen and (max-width: 768px), (max-height: 768px) {    
    .welcome img {
        height: 150px;
        width: 150px;
    }
    .welcome p {
        font-size: 14pt;
        letter-spacing: 5pt;
    }
}

/* Settings for width <= 412px */
@media only screen and (max-width: 412px), (max-height: 600px) {
    .welcome img {
      height: 120px;
      width: 120px;
    }
    .welcome p {
        font-size: 10pt;
        letter-spacing: 5pt;
    }
  }


/* Front Styling Gradient */
.blueGradient {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    position: absolute;
    height: calc(100vh - 120px);
    width: 90%; 
    overflow: hidden;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 113, 138, 1) 100%);
    z-index: 1;
}




/* foreground black gradient */
.blackGradient {
    height: 100%;
    width: 80%; 
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; 
    background: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); 
}





/* SITE CONTENT */
/*----------------------------*/

.about {
    display: relative;
    background-color: rgb(40, 18, 18);
    width: 100%;
    height : 100%;
    margin-top:60px;
    margin-bottom: 60px;
    width: 100%;
    height: calc(100vh - 120px);
};



 .affectedByBlurToggle {
    filter: none;
}

/* BODY / GENERAL */
/*----------------------------*/

body {
    background-color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}