.buttonMenuContainer {
    position : fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5%;
    margin-left:-5pt;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
}

.buttonMenuContainer div {
    display: flex;
}

.buttonMenuContainer button {
    align-items: center;
    background: none;
    color: white; 
    padding: 3px 3px; 
    border: none; /* Entferne die Rahmenlinie */
    border-radius: 5px; 
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    font-size: 16px; 
    transform: rotate(-90deg);
    margin-left: -10px;
}

nav.buttonMenuContainer:hover {
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    scale: 1.1;
    margin-left: -4pt;

}

#buttonMenu {
    transition: opacity 0.4s ease;
}

/* Navigation Bar */
.menuContainer {
    display: flex;
    width: 100%;
    height: 100dvh; /*dvh neuer Befehl, der auch für mobile devices emfpohlen wird*/
    align-items:center;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, rgba(0, 113, 138, 1) 100%);
    opacity: 100%;
    color: white;
    position: fixed;
    z-index: 3; /* Layer-Steuerung, höher ist über niedrigerem wert */
    top : 0%;
    left: -100%;
    opacity: 0;
    transition: left 0.7s, opacity 1s ease; /* Fügen Sie eine Übergangseffekt für das Einfahren hinzu */
    bottom: 0;
}

.navListContainer ul {
    list-style-type: none;
  }

.navListContainer ul li:first-child {
    font-size: 24pt;
    color: rgba(240,173,91,1)
}

.navListContainer {
    line-height: 2;
    padding-left: 10%;
    font-family:Arial, Helvetica, sans-serif;
}

.menuContainer .navListContainer li a {
    color: white;
    text-decoration: none;
}

.navListContainer button {
    border-radius: 4%;
    border-style: none;
    padding: 10px;
    font-size: 12pt;
    background-color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    margin-top: 20px;
}

.navListContainer ul li a:hover {
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    color: rgb(230, 162, 35);
}

.navListContainer button:hover {
    cursor: pointer; /* Zeige die Handcursor beim Überfahren */
    background-color: rgb(230, 162, 35);
}

/* HEADER */
header {
    background-color: black;
    color: white;
    position: fixed;
    height: 60px;
    top : 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.iconBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height:60px;
}

/* Abstand Listeneinträge nach rechts automatisch */
/* erster <li> ist linksbündig, alle anderen rechts */
.iconBar ul li:first-child {
    margin-left: 7%;
}

.logoTop {
    width: 35px;
    height: 35px;
}

.iconBar ul li:nth-child(2) {
    font-size: 20pt;
    margin-right: auto;
    margin-left: 5px;
    color: rgba(240,173,91,1);
}
@media only screen and (max-width: 800px) {
    .iconBar ul li:nth-child(2)  {
        font-size: 18pt;
    }
  }

@media only screen and (max-width: 400px) {
    .iconBar ul li:nth-child(2)  {
        font-size: 12pt;
    }
  }

/*Abstand letzter <li> rechts */
.iconBar ul li:last-child {
    margin-right: 7%; 
}

/* Abstand zwischen Listeneinträgen */
.iconBar ul li {
    margin-left: 15px; 
}

/* Hyperlink-Formatierung */
.iconBar ul li a {
    color: white;
    text-decoration: none;
}

.iconBar ul li a:hover {
    color: rgba(240,173,91,1)
}


/* MAIN CONTENT */
.content {
    display: flex;
    left: 5%;
    right: 5%;
}

.welcome {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: -45pt;
    justify-content: center;

}

.leftHomeContainer {
    order: 2;
    position:static;
    height: calc(100vh - 120px);
    width:50%;
    background-color: lightblue; /* Farbe des Rechtecks */
    opacity: 40%;
    z-index: -1;

}


.rightHomeContainer {
    order: 3;
    background-color: rgb(51, 255, 0);

}

.welcome p {
    font-size: 24pt;
    letter-spacing: 15pt;
    transform: scaleY(1.6);
    font-stretch: expanded;
}

@media only screen and (max-width: 1000px) {
    .welcome img {
      height: 200px;
      width: 200px;
    }
  }

@media only screen and (max-width: 1000px) {
    .welcome p {
        font-size: 20pt;
        letter-spacing: 10pt;
        transform: scaleY(1.6);
        font-stretch: expanded;
    }
}

@media only screen and (max-width: 700px) {
    .welcome img {
      height: 100px;
      width: 100px;
    }
  }

@media only screen and (max-width: 700px) {
    .welcome p {
        font-size: 14pt;
        letter-spacing: 4pt;
        transform: scaleY(1.6);
        font-stretch: expanded;
    }
}



.border {
    background-color: red;
}

main {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    color: white;
    height: calc(100vh - 150px);
} 





/* FOOTER */
footer {
    background-color: black;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

 .blurContent {
    filter: none;
}

/* body ALLGEMEIN */

body {
    background-color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
}